<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>

<body>
    <div>
        <div class="home-container">
            <h1 class="home-text">csv2gsheet - a unique server side approach</h1>
            <div class="home-container1">
                <div class="home-container2">
                    <h1 class="home-text1">upload csv</h1>
                    <form class="home-form" method="POST" action="/login" enctype="multipart/form-data">
                        <input type="text" placeholder="Spreadsheet Name" class="input" name="name" required/>
                        <input type="file" name="file" class="input" accept=".csv" required/>
                        <button type="submit" class="home-button button">Import to Google Sheets</button>
                    </form>
                </div>
                <div class="home-container3">
                    <h1 class="home-text2">import csv from URL</h1>
                    <form class="home-form1" method="POST" action="/login">
                        <input type="url" placeholder="Enter URL" class="input" name="url" required/>
                        <input type="text" placeholder="Spreadsheet Name" class="input" name="name" required/>
                        <button type="submit" class="home-button button">Import to Google Sheets</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>